.main-footer {
    background-color: var(--accent-color);
}

.link-address {
    color: var(--secondary-text-color);
    font-style: normal;

    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.mail,
.tel {
    font-style: normal;

    font-size: 14px;
    line-height: 1.7;
    color: var(--tel-color);
    letter-spacing: 0.03em;
}

.mail {
    display: flex;

    margin-bottom: 9px;
}

// .link-address {
//     display: flex;
//     margin-bottom: 9px;
// }

// .text-footer {
//     font-family: var(--primary-font);
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     color: var(--secondary-text-color);
//     text-transform: uppercase;

// }



// .address-footer-link-logo {
//     align-items: baseline;
//     margin-left: 70px;

// }

// .address-footer-link {
//     align-items: baseline;
// }

// .text-footer {
//     margin-bottom: 20px;
// }
.mail,
.tel {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-footer-link-list {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-footer-link-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    
    &:hover,
    &:focus{
        background-color: var(--logo-color);
    }
}

// .footer-link {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     column-gap: 10px;
// }



// .main-footer {
//     background-color: var(--accent-color);
//     padding-top: 60px;
//     padding-bottom: 60px;
// }

.button-telegram {
    width: 200px;
    height: 50px;
}

// .button-telegram {
//     position: relative;
//     width: 200px;
//     height: 50px;
//     background: var(--logo-color);
//     border: none;

//     border-radius: 4px;
//     margin-left: 12px;
//     padding-right: 28px;
//     letter-spacing: 0.06em;



// &:hover,
// &:focus {
//     cursor: pointer;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
// }

// .text-modal-batton {

//     font-family: var(--primary-font);
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.9;
//     align-items: center;
//     margin-right: 10px;
//     letter-spacing: 0.06em;
//     color: var(--secondary-text-color);
// }

// .container-footer {
//     display: flex;
//     align-items: baseline;

// }
// .text-footer-form {
//     margin-left: auto;

   
//     margin-left: auto;
// }

// .contact-form {

//     width: 358px;
//     height: 50px;
//     padding-left: 16px;

//     border: 1px solid rgba(255, 255, 255, 0.3);
//     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//     border-radius: 4px;
//     background: var(--accent-color);
//     outline: none;
// }

// .contact-form {
//     font-family: var(--primary-font);
//     font-size: 16px;
//     line-height: 1.25;
//     color: var(--secondary-text-color);
// }