.menu-nav{
    display: none;
}
.mail-link{
    display: none;
}
.contact-phone{
    display: none;
}
.menu-nav-list{
    display: none;
}

.open-mobile-menu {
   
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
}
.container-header{
   
   display: flex;
   align-items: center;
   justify-content: space-between;
   
  
}
.logo-link {
    
    padding-top: 16px;
    padding-bottom: 16px;

}
@media screen and ( min-width: 768px){
    .menu-nav{
        display: block;
    }
    .menu-nav-list{
        
        display:block;
        align-items: center;
    }
    .open-mobile-menu{
        display: none;
    }

    .menu-nav {
    margin-left: 88px;
    display: flex;
    align-items: center;
    column-gap: 50px;
    }
     
    
   



.mail-link,
.contact-phone {
    display: flex;
    
    align-items: center;


}
.mail-nav {
    margin-bottom: 10px;
    text-align: center;

}
.logo-link {
    
    padding-top: 26px;
    padding-bottom: 26px;

}


.mail-link,
.contact-phone {
    
    
    align-items: center;


}



.link {
        font-family: var(--primary-font);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        color: var(--color-dark);
        letter-spacing: 0.02em;
    
    
    }
    
    .mail-link,
    .contact-phone {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    
        color: var(--primary-text);
        fill: currentColor;
    
    }
    .mail-link,
    .contact-phone {
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .container-header {
   
    align-items: center;
}
   .page-header-container {
    display: flex;
    align-items: center;
}

.mail-img {
    margin-right: 10px;

}
 .tel-img {
    margin-right: 10px;

}

.link-before.current::after {
    display: flex;
   
    width: 100%;
    height: 4px;
    background: var(--logo-color);
    border-radius: 2px;
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    transform: translateY(28px);
}

.header-border {
    border-bottom: 1px solid var(--border-bottom);

}
.hover-nav:hover,
.hover-nav:focus {
    color: var(--logo-color);
}


}

@media screen and ( min-width: 1200px){
    
.container-header {
    display: flex;
    align-items: center;
}

.page-header-container {
    display: flex;
    align-items: center;
}

.menu-nav {
    margin-left: 93px;
    display: flex;
    align-items: center;
    column-gap: 50px;
}
.logo-link {
    
    padding-top: 24px;
    padding-bottom: 25px;

}

.mail-nav{
    margin-bottom: 0;
    margin-left: 318px;
    text-align: center;

}


.mail-link {
    margin-right: 30px;

    &:hover {
            color: var(--logo-color);
        }
}

.mail-img {
    margin-right: 10px;

}



.contact-phone:hover {
    color: var(--logo-color);
}

.tel-img {
    margin-right: 10px;
    
}


.mail-link,
.contact-phone {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;


}


.menu-nav-list {
    
    display: flex;


}

.header-top {
    background-color: var(--secondary-text-color);


}

.link {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--color-dark);
    letter-spacing: 0.02em;


}

.mail-link,
.contact-phone {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--primary-text);
    fill: currentColor;

}
.mail-link,
.contact-phone {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-before.current::after {
    display: flex;
   
    width: 100%;
    height: 4px;
    background: var(--logo-color);
    border-radius: 2px;
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    transform: translateY(28px);
}

.header-border {
    border-bottom: 1px solid var(--border-bottom);

}
.hover-nav:hover,
.hover-nav:focus {
    color: var(--logo-color);
}

    
}





