

.team {
    color: var(--color-dark);

    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
}
.team {
    background-color: var(--background);

}

.name {
    color: var(--color-dark);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.job-title {
    color: var(--primary-text);

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    
}

.name {
    margin-top: 30px;
}

// .team-photo {
//     display: flex;

//     column-gap: 30px;
// }

.team-color {

    background-color: var(--secondary-text-color);

}

.job-title {
    margin-top: 10px;
    margin-bottom: 16px;
}

.social-list-icon {
    fill: var(--background-icon);
}



.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
    fill: var(--secondary-text-color);
}

.team-color {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background-color: var(--secondary-text-color);
 transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    background-color: var(--logo-color);
}
}


.link-icon-clients,
.logo-items-container {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// .clients {
//     display: flex;
//     margin-left: auto;
//     margin-right: auto;
//     column-gap: 30px;
// }

.logo-items-container {


    color: var(--background-icon);
}

.link-icon-clients {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


// .icon-logo-items {
//     box-sizing: border-box;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 170px;
//     height: 92px;
    
//     border: 1px solid #AFB1B8;
//     border-radius: 4px;

//     &:hover,
//     &:focus {
//         border-color: var(--logo-color);
//          color: var(--logo-color);
//         cursor: pointer;
//     }

// }


.icon-logo-items:hover .logo-items-container,
.icon-logo-items:focus .logo-items-container {
    border-color: var(--logo-color);

    cursor: pointer;
}




.link-icon-clients:hover .logo-items-container,
.link-icon-clients:focus .logo-items-container {
    fill: var(--logo-color);

}
.logo-items-container {
    fill: currentColor;
}






.logo-items-container {

    width: 106px;
    height: 60px;


}

.content-top {
    padding-top: 0px;
}

// .icon-section {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 270px;
//     height: 120px;
//     background-color: var(--background);
//     border-radius: 4px;
//     margin-bottom: 30px;

// }

// .section-icon-list {

//     width: 70px;
//     height: 70px;


// }
.icon-logo-main {
    margin-bottom: 50px;
}