 .social-link {
     color: var(--color-dark);
     font-family: 'Roboto', sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.02em;


 }

 .container-photo {
     padding-top: 210px;
     padding-bottom: 280px;
     background: #F5F5F5;
 }





 .photo-list {
     display: flex;
     justify-content: space-between;
     margin-top: 50px;
 }


 .content-top-section {
     padding-top: 0px;
 }

 .section-body-content {
     padding-top: 0px;
 }

 .main-content {
     color: var(--color-dark);
     font-weight: 700;
     font-size: 36px;
     line-height: 1.16;
     text-align: center;
     letter-spacing: 0.03em;
 }










 .text-section {
     font-family: var(--primary-font);
     color: var(--color-dark);
     font-weight: 700;
     font-size: 18px;
     line-height: 2;
 }

 .text-body {

     color: var(--primary-text);

     font-size: 16px;
     line-height: 1.9;
     letter-spacing: 0.03em;

 }

 .section-nav {
     font-family: var(--primary-font);
     color: var(--color-dark);

     font-size: 16px;
     line-height: 1.6;

     letter-spacing: 0.03em;
     cursor: pointer;

 }



 .link-adress-nav {
     display: flex;
     align-items: center;
     justify-content: center;
    
     column-gap: 10px;
 }
















 .menu {
     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }




 .image-link {

     position: relative;
     overflow: hidden;
 }

 .text-img-list {
     position: relative;
 }

 .text-img {
     display: flex;
     align-items: center;
     justify-content: center;
     font-family: var(--primary-font);
     font-weight: 700;
     font-size: 14px;
     line-height: 1.14;
     text-transform: uppercase;
     color: var(--secondary-text-color);
     width: 370px;
     height: 70px;
     background: rgba(47, 48, 58, 0.8);
     position: absolute;
     top: 0;
     left: 0;
     margin-top: 224px;
 }



 .link-after {
     position: relative;
 }





//  .form {
//      display: flex;
//      margin-left: auto;
//      margin-right: auto;
//      align-items: center;
//      justify-content: center;


//  }


//  .logo-mail-form {
//      position: absolute;
//      top: 13px;
//      right: 28px;

//  }

 .form-text {
     font-family: var(--primary-font);
     font-weight: 700;
     font-size: 20px;
     line-height: 1.15;
     text-align: center;
     color: var(--color-dark);
     margin-bottom: 12px;


 }

 .form-modal-window {
     display: flex;
     flex-direction: column;
 }

 .form-input {
     width: 100%;
     height: 40px;
     border: 1px solid rgba(33, 33, 33, 0.2);
     border-radius: 4px;
     margin-bottom: 10px;
     padding-left: 42px;
     outline: none;


 &:focus {
     border-color: var(--logo-color);
     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

 }
 }





 .form-textarea {
     width: 100%;
     height: 120px;
     resize: none;
     border: 1px solid rgba(33, 33, 33, 0.2);
     border-radius: 4px;
     padding: 12px 16px;
     margin-bottom: 20px;
     outline: none;

 
      &:focus {
     border-color: var(--logo-color);
     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

 }
}
 .modal-form-text {
     display: block;
     font-size: 12px;
     line-height: 1.16;
     color: var(--primary-text);
     margin-bottom: 4px;

 }

 .check {

     margin-bottom: 30px;
 }

 .form-input-icon {
     position: relative;
 }

 .logo-form {
     display: block;
     position: absolute;
     top: 50%;
     left: 12px;
     transform: translateY(-50%);
 
 }
    .form-input:focus+.logo-form {
     fill: var(--logo-color);
 }

 

 .button-form-input {
     align-self: center;
     width: 200px;
     height: 50px;
     background: #188CE8;
     cursor: pointer;
     border-radius: 4px;
     border: none;
 

       &:hover,
       &:focus {
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
}

 .text-button-form-input {
     font-family: var(--primary-font);
     font-weight: 700;
     font-size: 16px;
     line-height: 1.9;
     align-items: center;
     text-align: center;
     color: var(--secondary-text-color);
 }


 

 

 



 .form-textarea::placeholder {
     font-size: 12px;
     line-height: 1.16;
     color: rgba(117, 117, 117, 0.5);
 }

//  .form-text-checkbox {


//      width: 423px;
//      height: 24px;
//      margin-bottom: 30px;



//  }


 .icon-checkbox-on {
     width: 16px;
     height: 15px;
     border: 2px solid var(--color-dark);
     border-radius: 2px;
     cursor: pointer;
     margin-right: 9px;
 }

 .icon-checkbox-of {
     display: none;
     fill: var(--secondary-text-color);
 }

 .check:checked+.icon-checkbox-on {
     background-color: var(--logo-color);
     border: var(--logo-color);
 }

 .check:checked+.icon-checkbox-on .icon-checkbox-of {
     display: block;

 }

 .check:checked {
     border: none;
 }

 .check {
     position: absolute;
     appearance: none;
 }

//  .form-text-checkbox {
//      display: flex;
//      align-items: center;
//      align-self: center;
//      justify-content: center;
//      margin-bottom: 20px;
//  }

//  .text-form-link {
//      font-family: var(--primary-font);
//      font-size: 14px;
//      line-height: 1.7;
//      color: var(--primary-text);
//  }

//  .form-link {
//      color: var(--logo-color);
//  }
