
@media screen and ( max-width: 767px){
    .container-type {
        display: flex;
        
        flex-wrap: wrap;
        justify-content: start;
        gap: 8px;
        
        margin-bottom: 40px;
    
    
    }
    .photo-container-section {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        
    }

    
    
}



@media screen and ( min-width: 768px){
    .container-type{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        gap: 8px;
        padding-bottom: 30px;
    }
    .photo-container-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        
    }


}










.portfolio-text {
    background-color: var(--secondary-text-color);
}

.type {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    background: var(--background);
    cursor: pointer;

}

.type {
    width: 130px;
    height: 38px;
    border-radius: 4px;
    border: none;
}

.type {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            color: var(--secondary-text-color);
    
            background-color: var(--logo-color);
        }
}



.type-section {
    width: 73px;
    height: 38px;

    border-radius: 4px;
}













// .container-type {
//     display: flex;

//     justify-content: center;
//     column-gap: 8px;

//     margin-bottom: 50px;


// }





.employees-body {
    gap: 30px;
}






// .photo-container-section {
//     display: flex;
//     flex-wrap: wrap;
//     gap: 30px;
// }

.text-section {
    margin-bottom: 4px;
}

.container-heroi {

    padding: 20px 24px;
    border-top: 0px;
    border-left: 1px solid var(--border-solid);
    border-right: 1px solid var(--border-solid);
    border-bottom: 1px solid var(--border-solid);
}


.employees-link {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}


}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    padding-left: 24px;
    padding-right: 24px;
    font-family: var(--primary-font);
    font-size: 18px;
    line-height: 1.5;
    color: var(--secondary-text-color);
    position: absolute;
    width: 370px;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);



    
}

.employees-link:hover .overlay,
.employees-link:hover .overlay {
    transform: translateY(0%);
}