:root {
    --primary-font: 'Roboto',
        sans-serif;
    --secondary-font: 'Raleway',
        sans-serif;
    --logo-color: #2196F3;
    --logo-color-black: #000000;
    --color-dark: #212121;
    --primary-text: #757575;
    --secondary-text-color: #FFFFFF;
    --accent-color: #2F303A;
    --background-color: #F5F5F5;
    --background: #F5F4FA;
    --box-shadow: #00000026;
    --tel-color: #ffffff99;
    --border-bottom: #ECECEC;
    --border-solid: #EEEEEE;
    --background-icon: #AFB1B8;
}